-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "isOnline" BOOLEAN NOT NULL DEFAULT false,
    "scope" TEXT,
    "expires" TIMESTAMP(3),
    "accessToken" TEXT NOT NULL,
    "userId" BIGINT,
    "firstName" TEXT,
    "lastName" TEXT,
    "email" TEXT,
    "accountOwner" BOOLEAN NOT NULL DEFAULT false,
    "locale" TEXT,
    "collaborator" BOOLEAN DEFAULT false,
    "emailVerified" BOOLEAN DEFAULT false,
    "refreshToken" TEXT,
    "refreshTokenExpires" TIMESTAMP(3),

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomizableProduct" (
    "id" SERIAL NOT NULL,
    "productId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "price" TEXT NOT NULL,
    "image" TEXT NOT NULL,
    "variantData" TEXT,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CustomizableProduct_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProductColor" (
    "id" SERIAL NOT NULL,
    "productId" TEXT NOT NULL,
    "variantId" TEXT NOT NULL,
    "colorName" TEXT NOT NULL,
    "colorCode" TEXT NOT NULL,
    "frontEnabled" BOOLEAN NOT NULL DEFAULT true,
    "backEnabled" BOOLEAN NOT NULL DEFAULT true,
    "leftEnabled" BOOLEAN NOT NULL DEFAULT false,
    "rightEnabled" BOOLEAN NOT NULL DEFAULT false,
    "frontImage" TEXT,
    "backImage" TEXT,
    "leftImage" TEXT,
    "rightImage" TEXT,
    "frontX" INTEGER NOT NULL DEFAULT 170,
    "frontY" INTEGER NOT NULL DEFAULT 140,
    "frontWidth" INTEGER NOT NULL DEFAULT 160,
    "frontHeight" INTEGER NOT NULL DEFAULT 180,
    "backX" INTEGER NOT NULL DEFAULT 170,
    "backY" INTEGER NOT NULL DEFAULT 140,
    "backWidth" INTEGER NOT NULL DEFAULT 160,
    "backHeight" INTEGER NOT NULL DEFAULT 180,
    "leftX" INTEGER NOT NULL DEFAULT 170,
    "leftY" INTEGER NOT NULL DEFAULT 140,
    "leftWidth" INTEGER NOT NULL DEFAULT 160,
    "leftHeight" INTEGER NOT NULL DEFAULT 180,
    "rightX" INTEGER NOT NULL DEFAULT 170,
    "rightY" INTEGER NOT NULL DEFAULT 140,
    "rightWidth" INTEGER NOT NULL DEFAULT 160,
    "rightHeight" INTEGER NOT NULL DEFAULT 180,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProductColor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppSettings" (
    "id" SERIAL NOT NULL,
    "shop" TEXT NOT NULL,
    "appEnabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AppSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomOrder" (
    "id" SERIAL NOT NULL,
    "shopifyOrderId" TEXT NOT NULL,
    "orderName" TEXT NOT NULL,
    "customerName" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CustomOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CustomOrderItem" (
    "id" SERIAL NOT NULL,
    "orderId" INTEGER NOT NULL,
    "productTitle" TEXT NOT NULL,
    "variantTitle" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "frontImage" TEXT,
    "backImage" TEXT,
    "leftImage" TEXT,
    "rightImage" TEXT,

    CONSTRAINT "CustomOrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "CustomizableProduct_productId_key" ON "CustomizableProduct"("productId");

-- CreateIndex
CREATE UNIQUE INDEX "ProductColor_variantId_key" ON "ProductColor"("variantId");

-- CreateIndex
CREATE UNIQUE INDEX "AppSettings_shop_key" ON "AppSettings"("shop");

-- CreateIndex
CREATE UNIQUE INDEX "CustomOrder_shopifyOrderId_key" ON "CustomOrder"("shopifyOrderId");

-- AddForeignKey
ALTER TABLE "CustomOrderItem" ADD CONSTRAINT "CustomOrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "CustomOrder"("id") ON DELETE CASCADE ON UPDATE CASCADE;

